<aside class="sidenav_web">
    <div align="center" class="loanlogo"><img src="assets/loading.gif" height="45"></div>
    <div>
        <div class="loanlogo side-nav-logo">
            <img src="assets/kdnlogo.png" height="50">
        </div>

        <div>
            <p class="lead_source_name">Source Name Here</p><br>
            <p class="sidenav_loanname">Purpose Name</p>
            <p class="text-center">
                <a class="badge"  style="background:#CCFFD8;color: #165525">Kundan Kumar</a>
            </p>
        </div>
    </div>

    <div class="nav-wrap">
        <div>
            <a [routerLink]="['/dashboard']">Dashboard</a>
            <a [routerLink]="['/']" [routerLinkActive]="'activeSty'">Details</a>
            <a [routerLink]="['/']" [routerLinkActive]="''">Option-1</a>
            <a [routerLink]="['/']" [routerLinkActive]="''">Option-2</a>
            <a [routerLink]="['/']" [routerLinkActive]="''">Option-3</a>
            <a [routerLink]="['/']" [routerLinkActive]="''">Option-4</a>
            <a href="javascript:void(0)">Logout</a>
        </div>
    </div>
</aside>
