
<div class="row" style="background: #fff;height: 100vh;">
    <div class="col-sm-8 bannerSection">
      <div class="col-sm-12">
        <img src="assets/kdnlogo.png" height="60"><br><br>
      </div>
      <div class="col-sm-12">
        <img class="backimages" src="assets/login-bg.png">
    </div>
    </div>
  
  <div class="col-sm-4 login_right_sec">
      <h4>Welcome to KdnRthr Employee Portal</h4>
       <div class="">
         <div class="form" >
           <form class="loginForm">
             <!-- <img src="assets/logo.png"> -->
             <div>
     
             <div class="login-input-container">
               <label for="phone">Mobile</label>
               <div class="inner-icon leftIcon">
                 <img class="input-icon-img phone_icon" src="assets/call-answer.svg">
                 <input class="input-field" type="text" maxlength="10" placeholder="Please enter your registered mobile number" numbersOnly>
               </div>
               <div style="margin-top: 5%">
                 <label for="password">Password</label>
                 <div class="inner-icon leftIcon">
                   <img class="input-icon-img" src="assets/lock.svg">
                   <input class="input-field" type="password" placeholder="Enter password">
                 </div>
               </div>
               <div>
                 <button type="submit" class="loginBtn" (click)="proceedLogin()">LOGIN</button>
               </div>
             </div>
           </div>
           <div class="login_footer">
              <div class="help_support1">Help & Support</div>
              <p>
                  <img src="assets/help_phone.png">8770 42 9826<span>[ Toll Free ]</span><br>
                  <img src="assets/help_mail-icon.png"> customercare@kdnrthr.in<br>
                  <small>Copyright @2020 kdnrthr. All rights reserved.</small>
                </p>
                </div>
         </form>
         </div>
       </div>
  </div>