
<div class="row" style="background: #fff;height: 100vh;">
    <div class="col-sm-8 bannerSection">
      <div class="col-sm-12">
        <img src="assets/kdnlogo.png" height="60"><br><br>
      </div>
      <div class="col-sm-12">
        <img class="backimages" src="assets/login-bg.png">
    </div>
    </div>
  
  <div class="col-sm-4 login_right_sec">
      <h4>Welcome to imrthr Employee Portal</h4>
       <div class="">
         <div class="form" >
           <form class="loginForm" [formGroup]="logInForm" (ngSubmit)="onSubmit()">
             <!-- <img src="assets/logo.png"> -->
             <div>
     
             <div class="login-input-container">
               <label for="phone">Mobile</label>
               <div class="inner-icon leftIcon">
                 <img class="input-icon-img phone_icon" src="assets/call-answer.svg">
                 <input class="input-field" type="text" maxlength="10" placeholder="Please enter your registered mobile number" numbersOnly formControlName="phone">
               </div>
               <span *ngIf="logInForm.controls['phone'].invalid && (logInForm.controls['phone'].dirty || logInForm.controls['phone'].touched || isInvalidForm)" >
                <span *ngIf="logInForm.controls['phone'].errors.required" class="errors1"> Phone is required.</span>
                </span>
               <div style="margin-top: 5%">
                 <label for="password">Password</label>
                 <div class="inner-icon leftIcon">
                   <img class="input-icon-img" src="assets/lock.svg">
                   <input class="input-field" type="password" placeholder="Enter password" formControlName="password">
                 </div>
               </div>
               <div *ngIf="logInForm.controls['password'].invalid && (logInForm.controls['password'].dirty || logInForm.controls['password'].touched || isInvalidForm)" >
                <div *ngIf="logInForm.controls['password'].errors.required" class="errors1"> Password is required.</div>
              </div>
               <div>
                 <button type="submit" class="loginBtn">LOGIN</button>
                 <p>Not signed up yet!  
                  <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
                </p>
               </div>
             </div>
           </div>
           <div class="login_footer">
              <div class="help_support1">Help & Support</div>
              <p>
                  <img src="assets/help_phone.png">8770 42 9826<span>[ Toll Free ]</span><br>
                  <img src="assets/help_mail-icon.png"> customercare@kdnrthr.in<br>
                  <small>Copyright @2020 kdnrthr. All rights reserved.</small>
                </p>
                </div>
         </form>
         </div>
       </div>
  </div>